---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>


  <div class="post-tags">
    Category:
    <a href="/category/{{page.category|slugize}}">{{page.category}}</a>
  </div>

  {% include post_tags.html %}

  <br/>

  {{ content }}
</article>

{% if page.comments %}
  {% include comments.html %}
{% endif %}

<div class="pagination">
  {% if page.previous %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: page.previous.url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: page.next.url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
